IndiciesOfMultipleDeprivation/bin
IndiciesOfMultipleDeprivation/obj
IndiciesOfMultipleDeprivation.Tests/bin
IndiciesOfMultipleDeprivation.Tests/obj
IndiciesOfMultipleDeprivation.Api/bin
IndiciesOfMultipleDeprivation.Api/obj
.DS_store
.idea/
.vs/
